body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
h2{
    background: blanchedalmond;
    padding: 20px;
    margin-top: 0;
}
div{
    padding: 20px;
}
#ex-name,#ex-amt{
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.chart-box{
    width: 300px;
    height: 300px;
    margin: 20pxauto;
}

.chart-row{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.monthly-ChartBox{
    width: 70%;
    max-width: 600px;
    margin: 20px auto;
    height: 300px;
}